section#exhibit.exhibit
    article.container-fluid
        div.row.exhibitMoreRow.pb-4
            item.col-12.pb-4
                small.small
                    h4.textAlignLeft
                        span.outlineBubble Posted: #{keysDate}
            !=aboutPost
            small.moreCase
                a(href='https://illustratesideas.tumblr.com/tagged/About%20Kai' target='_BLANK' style='border-top: 1px solid var(--c6);').mt-4.pt-0 The Official "About Kai" Archives→