section#exhibit.exhibit
    article.container-fluid
        div.row.exhibitCardsRow
            item.col-lg-12.exhibitTitleCase
                h1.exhibitTitle The Web Solu&shy;tion 
                h4.exhibitSub Today's natural, elegant and modern approach to web publishing.
        div.row.exhibitCardsRow.gx-0
            margin.margin.col-lg-1.superCenterer.d-none.d-xl-block.bullNosed
                img(src='https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80').flash.bw.bullNosed
            item.card.col-lg-3.exhibitCards
                img(src='https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80').card-img-top
                h3.card-title.exhibitCardsTitle Food Indu&shy;stry Pros
                p.card-text.exhibitCardsText 'Food and beverage' is a fast-paced, community-minded industry that indulges the senses.  Flirtacious, splashy and creative
                p.card-text.exhibitCardsText
                    button(type='button').button.w100.bottomZ(onclick='location.href="#exhibitMore";' value="Go to The Three Key Factors") More
            item.card.col-lg-3.exhibitCards
                img(src='https://images.unsplash.com/photo-1602526432604-029a709e131c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80').card-img-top
                h3.card-title.exhibitCardsTitle Techies & Hobb&shy;yists
                p.card-text.exhibitCardsText Command readers' attention with a decisive focal point and attention-grabbing, highly shareable information.
                p.card-text.exhibitCardsText
                    button(type='button').button.w100.bottomZ(onclick='location.href="#exhibitMore";' value="Go to The Three Key Factors") More
            item.card.col-lg-3.exhibitCards
                img(src='https://images.unsplash.com/photo-1506806732259-39c2d0268443?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80').card-img-top
                h3.card-title.exhibitCardsTitle Artis&shy;ans & Craft&shy;ers
                p.card-text.exhibitCardsText The moment you snap a photo and post something you've created to your social media, boom! It's already on your homepage!
                p.card-text.exhibitCardsText
                    button(type='button').button.w100.bottomZ(onclick='location.href="#exhibitMore";' value="Go to The Three Key Factors") More
            margin.margin.col-lg-1.superCenterer.d-none.d-xl-block.bullNosed
                img(src='https://images.unsplash.com/photo-1507207611509-ec012433ff52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80').flash.bw.bullNosed
a#exhibitMore
section#exhibit.exhibit
    article.container-fluid
        div.row.exhibitMoreRow.pb-5
            margin.margin.col-md-6.superCenterer.bullNosed.bgFlash1
                div <!-- important to mimic/duplicate adjacent item with phony stand-in text for sizing purposes -->
                    h5.dateLine &nbsp;
                    h1.title &nbsp;
                    h6.byLine &nbsp;
            item.col-md-6
                h5.dateLine pubDate
                h1.title Three Key Fact&shy;ors
                h6.byLine for successful web publishing.
            item.col-md-12
                hr.hr1
                h2.subTitle Your web identity should be dynamic and in-the-moment.
            item.col-lg-7
                h4.exhibitSub From now on, you directly update your website and deliver the information in a manner that lets your visitors know you're present.
                h3.reflection True On-the-go Functi&shy;onality
                p Cut out the middle-works and get straight to publishing. From almost anywhere, from the phone in the palm of your hand, you're keeping your visitors abreast.
                h3.reflection Say 
                    i "Hello" 
                    | to True Freedom
                p Say goodbye to the days of feeling hemmed in by proprietary formats.  Virtually whatever platform your comfortable with can be the hub of your content management.
                h3.reflection Social Media Turbo Jets
                p Full social media integration means your visitors easily share your content to their friends.  Everyone knows, word-of-mouth online is how information spreads today.
                hr.hr1
                div.container-fluid 
                    div.row
                        div.col-sm-7.centerVert
                            h3.exhibitSub Contact me today to discuss what the perfect web solution would look like for you!
                        div.col-sm-5.centerVert.ContactMeButtonCase
                            button(type='button').button.w100(onclick='location.href="#social";' value="Go to Kai's Social Media card") Contact me
            margin.margin.col-lg-5.superCenterer.bullNosed
                    img.mt-1(src='https://media2.giphy.com/media/VzH4jP7ppWF8dgCxcg/200.gif').flash.bullNosed