footer
    section.breathingWallpaper.container-fluid.superCenterer
        article.row.w80.socialsCase.pb-5
            gutter.col-md-0.col-lg-10 
            item.col-md-12.col-lg-2.superCenterer.logo
                a(href='https://scxn.herokuapp.com/')
                    div     
                        small.logoify SC
                            span.logoify.special X
                            | N
                        small.sub Web design & publishing
            item.col-xl-4.col-md-6.mt-4.redLined.p-1.p-md-3.p-xl-5
                h5 Services Provided
                ul      
                    li <i class="fa-solid fa-paintbrush footerIcons"></i> &nbsp;
                        a(href="#services") Graphic Design
                    li <i class="fa-solid fa-book-skull footerIcons"></i> &nbsp;
                        a(href="#services") Fine Art
                    li <i class="fa-solid fa-circle-play footerIcons"></i> &nbsp;
                        a(href="#services") Audio/&shy;Video
                    li <i class="fa-solid fa-lightbulb footerIcons"></i> &nbsp;
                        a(href="#services") Web Solutions
            item.col-xl-4.col-md-6.mt-4.redLined.p-1.p-md-3.p-xl-5
                h5 Featured Articles
                ul      
                    li <i class="fa-solid fa-hashtag footerIcons"></i> &nbsp;
                        a(href="#recently") Recently
                    li.hang <i class="fa-solid fa-dna footerIcons"></i> &nbsp;
                        a(href="#solution") The Web Solution
                    li <i class="fa-solid fa-key footerIcons"></i> &nbsp;
                        a(href="#exhibitMore") Three Keys
                    li <i class="fa-solid fa-medal footerIcons"></i> &nbsp;
                        a(href="#about") About Kai
            item.col-xl-4.col-md-6.mt-4.p-1.p-md-3.p-xl-5.col-md-6
                h5 Resources
                ul      
                    li <i class="fa-solid fa-handshake footerIcons"></i> &nbsp;
                        a(href="#services") Services 
                    li <i class="fa-solid fa-dice-d6 footerIcons"></i> &nbsp;
                        a(href="#exhibit") Possibilities 
                    li <i class="fa-solid fa-hat-wizard footerIcons"></i> &nbsp;
                        a(href="https://www.color-hex.com/member/kaicolor" target="_BLANK") Colors
                    li <i class="fa-solid fa-house-flag footerIcons"></i> &nbsp;
                        a(href="https://waterburyhill.tumblr.com/") Waterbury Hill 
                    li <i class="fas fa-star footerIcons"></i> &nbsp;
                        a(href="https://illustratesideas.tumblr.com") More at my blog 
                    li <i class="fa-solid fa-message footerIcons"></i> &nbsp;
                        a(href="#social") Remain In-touch 
            margin.superCenterer.d-none.d-md-block.col-md-6.d-xl-none.mt-4.p-1.p-md-3.p-xl-5.bgFlash3
                h5 Thank you—
                h6(style='margin-top: -1.2em; margin-left: -.6em; font-weight: lighter; font-size: 27pt; transform: rotate(-17deg); font-style: italic;; text-shadow: 1px 1px 50px fuchsia;') Come again!
            hr.col-md-12.hr1.mt-4.pb-2
            statement.superCenterer.col-md-12.mt-2
                -var thisYear = new Date().getFullYear();
                h2.w100.textAlignCenter(style='font-size: 17pt;') © 2022—#{thisYear} Kai Lavatai.&shy;  All rights reserved.
                
            
