section#laurel.laurel.superCenterer
    article#laurelWrapper.laurel.pb-5
        item#laurelCase.laurel
            h4#laurelHeading.laurel When you see how cool and easy it is to manage your new website, you will be amazed!
            img#laurelLeft.laurel.left(alt='Left side of the laurel wreath' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/DNCfUgbMKavIJUlEyqdhNsjK')
            img#laurelRight.laurel.right(alt='Right side of the laurel wreath' src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/SuRxDThNNpovsxdxVitviSho')