div#modal.modal-container
    aside.modall
        button#close.close-btn
            i.fa.fa-times
        div.modal-header 
            h1 Inquiries
        div.modal-content
            include contactForm
        link(rel='stylesheet', href='/stylesheets/modal.css')
        script(src='/javascripts/modal.js')