section.container-fluid.superCenterer
    article.row.w80.socialsCase.pb-5
        item.col-md-12
            h5.dateLine Solutions for everyone—
            h1.title(style='color: var(--c4);') Services Provided
            h3.reflection Shaping a very distinct and meaningful graphic presence for you.
            h6.services Reach out to me today!
            hr.hr1
        item.col-xl-3.col-md-6.mt-4.redLined
            h2 Graphic Design
            h4.stinger.services Out-of-the-way Functionality
            h5 Print, Web, Apparel
            ul      
                li  
                    a Logo design
                li  
                    a Fliers and mailers
                li  
                    a Custom Apparel
                li  
                    a Vector/raster conversion
        item.col-xl-3.col-md-6.mt-4.redLined
            h2 Fine Art
            h4.stinger.services Original, custom subject matter
            h5 Paintings, Illustrations, Assemblages
            ul      
                li  
                    a Large-scale options
                li  
                    a Commercial artwork
                li  
                    a Portraits
                li  
                    a Upcycling
        item.col-xl-3.col-md-6.mt-4.redLined
            h2 Audio Video
            h4.stinger.services Fascinate audiences with moving picture and sound
            h5 Industrial, Art-house, Innovative
            ul      
                li  
                    a Music demos
                li  
                    a Video editing
                li  
                    a Animation
                li 
                    a Mattes and sprites
        item.col-xl-3.col-md-6.mt-4
            h2 Web Solutions
            h4.services Out-of-the-way Functionality
            h5 Homepages, Blogs, Portfolios
            ul      
                li  
                    a E-commerce
                li  
                    a Publications
                li  
                    a Web brochures
                li 
                    a Social hubs