section.container-fluid.superCenterer
    article.row.w80.socialsCase
        item.col-12.pb-5.d-none.d-md-block
            small.small
                h4.textAlignR 
                    span.outlineBubble Last updated: #{servicesDate}
        !=servicesPost