a(target='_BLANK' href="https://www.pinterest.com/wowkai/").tumblr
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/teaOSXqaxuRJQPfguVRnlMvw' alt='My Pinterest is as it should be: Schizophrenic').socials
a(target='_BLANK' href="https://2dzoo.tumblr.com").tumblr
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/MzcphckOtgNcfaCWWMTFWTqW' alt='I curate an online art gallery on Tumblr').socials
a(target='_BLANK' href="https://t.me/+RLgdlqFBtsQ2OGEx").telegram
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/jpDAaUblQOXchSJzPKHXRlpS' alt='My Telegram channel is chock-full of amusing items which may or may not offend you depending on your vampire-status').socials
a(target='_BLANK' href="https://www.gab.com/scxn").gab
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/OItnYjzufLGGJkjeNfKBnPVF' alt=`My company, SCXN's social media`).socials
a(target='_BLANK' href="https://olympichaiku.blogspot.com/").facebook
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/CmnMpuIjTJIGmooINvfxqjSI' alt='Olympic Haiku on Blogger is my primary haiku writing outlet').socials
a(target='_BLANK' href="mailto:k_lavatai@yahoo.com").email
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/hakXcKyERGfNQzQdLCdJvhwp' alt='email').socials
a(target='_BLANK' href="https://twitter.com/waterburyhillwa").twitter
    img(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/YJGFsTofAbmgHYoTMyybZBwL' alt=`I was suspended from Twitter for literally doing nothing`).socials