section.container-fluid.superCenterer
    article.row.w80.socialsCase.pb-5
        item.col-md-12
            h5.dateLine Thank you—
            h1.title(style='color: var(--c4);') Remain in-touch
            h3.reflection It's been a pleasure becoming better acquainted.  My wish is that we will get to know eachother even better in the future.
            h6 Reach out to me today!
            hr.hr1
        item#inquiries.col-lg-4
            h5 Inquiries
            include contactForm
        item.col-lg-4.superCenterer.bg1.bullNosed.textAlign.mt-3
            h1.w80.mt-3 Kai Lava&shy;tai
            h6.w80 Web Design & Publishing
            h4.w80 218 Happy Valley Rd<br>Ste. 211</br>Sequim, WA 98382<br>USA
        item.col-lg-4.mt-3
            h5 Social Media
            ul      
                li  
                    a.tumblr(target='_BLANK' href="https://illustratesideas.tumblr.com")
                        img.socialsSm(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/MzcphckOtgNcfaCWWMTFWTqW' alt='tumblr') 
                        | &nbsp;Tumblr
                li  
                    a.telegram(target='_BLANK' href="https://t.me/+RLgdlqFBtsQ2OGEx")
                        img.socialsSm(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/jpDAaUblQOXchSJzPKHXRlpS' alt='telegram') 
                        | &nbsp;Telegram
                li  
                    a.gab(target='_BLANK' href="https://www.gab.com/scxn")
                        img.socialsSm(src='https://matrix-client.matrix.org/_matrix/media/r0/download/matrix.org/OItnYjzufLGGJkjeNfKBnPVF' alt='gab') 
                        | &nbsp;Gab
            h5 Direct
            ul      
                li  
                    a(href='mailto:scxn.kai@pm.me') scxn.kai@pm.me
                li  
                    a(href="tel:+13604779563") (360) 477-9563 x10
                li  
                    a(href='https://www.matrix.io/#/#luxurious:matrix.org?via=matrix.org' target='_BLANK') Instant Messanger
