extends layout
block content
  div#navCont
    main.superCenterer.w100
        section
            h1 Thank you
            p Your inquiry has been forwarded successfully.
            a(href='/' style='color: white;') â†Return home