extends layout
block content
  div#navCont
    main.superCenterer.w100
        section
            h1 Yowza
            p Something went wrong.  Your inquiry could not be forwarded.  Usually this is due to a high number of inquiries being left at once, 
                i or 
                | there may be a technical interruption.
            p Please wait a few moments, refresh the browser and try again.
            a(href='/#inquiries' style='color: white;') ←Return home