h5.dateLine #{pubDate}
h1(lang='en' xml:lang='en').title #{postTitle}
!=blogPost
small.moreCase
    a(href=postUrl) More on my blog →
div.w100.textAlignRight.pb-5
    include ../share
    h4 Share this wisdom